<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>enemy_m_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,206},{124,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,126}}</string>
                <key>sourceSize</key>
                <string>{124,126}</string>
            </dict>
            <key>enemy_m_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,390},{94,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,88}}</string>
                <key>sourceSize</key>
                <string>{94,88}</string>
            </dict>
            <key>enemy_m_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,326},{68,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,62}}</string>
                <key>sourceSize</key>
                <string>{68,62}</string>
            </dict>
            <key>enemy_m_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,412},{74,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,78}}</string>
                <key>sourceSize</key>
                <string>{74,78}</string>
            </dict>
            <key>enemy_m_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,332},{78,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,84}}</string>
                <key>sourceSize</key>
                <string>{78,84}</string>
            </dict>
            <key>enemy_m_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,332},{62,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,56}}</string>
                <key>sourceSize</key>
                <string>{62,56}</string>
            </dict>
            <key>enemy_m_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,154},{212,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{212,174}}</string>
                <key>sourceSize</key>
                <string>{212,174}</string>
            </dict>
            <key>enemy_m_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,2},{250,202}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,202}}</string>
                <key>sourceSize</key>
                <string>{250,202}</string>
            </dict>
            <key>enemy_m_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{254,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{254,150}}</string>
                <key>sourceSize</key>
                <string>{254,150}</string>
            </dict>
            <key>enemy_m_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,330},{148,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,136}}</string>
                <key>sourceSize</key>
                <string>{148,136}</string>
            </dict>
            <key>enemy_m_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,330},{154,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,118}}</string>
                <key>sourceSize</key>
                <string>{154,118}</string>
            </dict>
            <key>enemy_m_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,206},{118,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,112}}</string>
                <key>sourceSize</key>
                <string>{118,112}</string>
            </dict>
            <key>enemy_m_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,206},{48,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,50}}</string>
                <key>sourceSize</key>
                <string>{48,50}</string>
            </dict>
            <key>enemy_m_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,412},{82,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,76}}</string>
                <key>sourceSize</key>
                <string>{82,76}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>enemy_m.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6016c762e37930d71606dd2678335841$</string>
            <key>textureFileName</key>
            <string>enemy_m.png</string>
        </dict>
    </dict>
</plist>
