<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>wsparticle_gongyouxin1_a_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,326},{124,126}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,56},{124,126}}</string>
                <key>sourceSize</key>
                <string>{270,230}</string>
            </dict>
            <key>wsparticle_gongyouxin1_a_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,151},{212,174}}</string>
                <key>offset</key>
                <string>{-14,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,24},{212,174}}</string>
                <key>sourceSize</key>
                <string>{270,230}</string>
            </dict>
            <key>wsparticle_gongyouxin1_a_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{255,0},{250,202}}</string>
                <key>offset</key>
                <string>{-10,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,9},{250,202}}</string>
                <key>sourceSize</key>
                <string>{270,230}</string>
            </dict>
            <key>wsparticle_gongyouxin1_a_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{254,150}}</string>
                <key>offset</key>
                <string>{-2,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,54},{254,150}}</string>
                <key>sourceSize</key>
                <string>{270,230}</string>
            </dict>
            <key>wsparticle_gongyouxin1_a_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,326},{148,136}}</string>
                <key>offset</key>
                <string>{8,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,41},{148,136}}</string>
                <key>sourceSize</key>
                <string>{270,230}</string>
            </dict>
            <key>wsparticle_gongyouxin1_a_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,203},{154,118}}</string>
                <key>offset</key>
                <string>{5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,57},{154,118}}</string>
                <key>sourceSize</key>
                <string>{270,230}</string>
            </dict>
            <key>wsparticle_gongyouxin1_a_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,203},{118,112}}</string>
                <key>offset</key>
                <string>{15,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,59},{118,112}}</string>
                <key>sourceSize</key>
                <string>{270,230}</string>
            </dict>
            <key>wsparticle_gongyouxin1_b_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,453},{48,50}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,26},{48,50}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>wsparticle_gongyouxin1_b_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,322},{82,76}}</string>
                <key>offset</key>
                <string>{2,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,6},{82,76}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>wsparticle_gongyouxin1_b_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,316},{94,88}}</string>
                <key>offset</key>
                <string>{3,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{94,88}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>wsparticle_gongyouxin1_b_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,405},{68,62}}</string>
                <key>offset</key>
                <string>{-6,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,24},{68,62}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>wsparticle_gongyouxin1_b_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{353,405},{74,78}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,9},{74,78}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>wsparticle_gongyouxin1_b_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,399},{78,84}}</string>
                <key>offset</key>
                <string>{-5,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,2},{78,84}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>wsparticle_gongyouxin1_b_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,453},{62,56}}</string>
                <key>offset</key>
                <string>{1,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,29},{62,56}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>wsparticle_gongyouxin1.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:725e2f809195adfc9ceb0d71cda058e1$</string>
            <key>textureFileName</key>
            <string>wsparticle_gongyouxin1.png</string>
        </dict>
    </dict>
</plist>
