<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>beginfight_bg1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{295,533}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{295,533}}</string>
                <key>sourceSize</key>
                <string>{295,533}</string>
            </dict>
            <key>beginfight_bg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{537,2},{276,494}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{276,494}}</string>
                <key>sourceSize</key>
                <string>{276,494}</string>
            </dict>
            <key>beginfight_close.png</key>
            <dict>
                <key>frame</key>
                <string>{{815,429},{65,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,65}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>beginfight_dire.png</key>
            <dict>
                <key>frame</key>
                <string>{{499,299},{36,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,103}}</string>
                <key>sourceSize</key>
                <string>{36,103}</string>
            </dict>
            <key>beginfight_item_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,422},{473,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{473,101}}</string>
                <key>sourceSize</key>
                <string>{473,101}</string>
            </dict>
            <key>beginfight_item_choose.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,299},{495,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{495,121}}</string>
                <key>sourceSize</key>
                <string>{495,121}</string>
            </dict>
            <key>beginfight_plane_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{815,2},{205,205}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{205,205}}</string>
                <key>sourceSize</key>
                <string>{205,205}</string>
            </dict>
            <key>beginfight_plane_world.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,209},{129,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,38}}</string>
                <key>sourceSize</key>
                <string>{129,38}</string>
            </dict>
            <key>beginfight_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,340},{52,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,53}}</string>
                <key>sourceSize</key>
                <string>{52,53}</string>
            </dict>
            <key>beginfight_star_bg1.png</key>
            <dict>
                <key>frame</key>
                <string>{{815,209},{218,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{218,74}}</string>
                <key>sourceSize</key>
                <string>{218,74}</string>
            </dict>
            <key>beginfight_star_bg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{891,209},{208,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,71}}</string>
                <key>sourceSize</key>
                <string>{208,71}</string>
            </dict>
            <key>beginfight_star_gray.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,395},{40,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,37}}</string>
                <key>sourceSize</key>
                <string>{40,37}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>beginfight.png</string>
            <key>size</key>
            <string>{1022,525}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b5cad5f9c43c88f28a1f7afc29825678$</string>
            <key>textureFileName</key>
            <string>beginfight.png</string>
        </dict>
    </dict>
</plist>
