<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>wsparticle_j20_tuowei2_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,128},{42,68}}</string>
                <key>offset</key>
                <string>{0,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,0},{42,68}}</string>
                <key>sourceSize</key>
                <string>{64,128}</string>
            </dict>
            <key>wsparticle_j20_tuowei2_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{44,128}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,0},{44,128}}</string>
                <key>sourceSize</key>
                <string>{64,128}</string>
            </dict>
            <key>wsparticle_j20_tuowei2_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,44},{42,124}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,0},{42,124}}</string>
                <key>sourceSize</key>
                <string>{64,128}</string>
            </dict>
            <key>wsparticle_j20_tuowei2_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,86},{42,124}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,0},{42,124}}</string>
                <key>sourceSize</key>
                <string>{64,128}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>missile_frie.png</string>
            <key>size</key>
            <string>{128,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3170b8bceba94464dc84852ffd4bed6c$</string>
            <key>textureFileName</key>
            <string>missile_frie.png</string>
        </dict>
    </dict>
</plist>
