<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>eff_shield_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,746},{246,246}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{246,246}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>eff_shield_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,498},{246,246}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{246,246}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>eff_shield_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,250},{246,246}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{246,246}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>eff_shield_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,2},{246,246}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{246,246}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>eff_shield_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,750},{246,246}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{246,246}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>eff_shield_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{250,246}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,4},{250,246}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>eff_shield_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,502},{246,246}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{246,246}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>eff_shield_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,254},{246,246}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{246,246}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>shield.png</string>
            <key>size</key>
            <string>{498,998}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:774a433b681395012ae9b6a599a65b37$</string>
            <key>textureFileName</key>
            <string>shield.png</string>
        </dict>
    </dict>
</plist>
