<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>moregame_arrow.png</key>
            <dict>
                <key>frame</key>
                <string>{{107,424},{26,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,22}}</string>
                <key>sourceSize</key>
                <string>{26,22}</string>
            </dict>
            <key>moregame_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{107,331},{90,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,91}}</string>
                <key>sourceSize</key>
                <string>{90,91}</string>
            </dict>
            <key>moregame_bg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,2},{155,182}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,182}}</string>
                <key>sourceSize</key>
                <string>{155,182}</string>
            </dict>
            <key>moregame_bottom.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,365},{63,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,69}}</string>
                <key>sourceSize</key>
                <string>{63,69}</string>
            </dict>
            <key>moregame_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,186},{61,177}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,177}}</string>
                <key>sourceSize</key>
                <string>{61,177}</string>
            </dict>
            <key>moregame_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{446,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{446,38}}</string>
                <key>sourceSize</key>
                <string>{446,38}</string>
            </dict>
            <key>moregame_top.png</key>
            <dict>
                <key>frame</key>
                <string>{{105,186},{143,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,88}}</string>
                <key>sourceSize</key>
                <string>{143,88}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>moregame.png</string>
            <key>size</key>
            <string>{199,450}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ecc8a74c3c0f9764e684a202d5585d18$</string>
            <key>textureFileName</key>
            <string>moregame.png</string>
        </dict>
    </dict>
</plist>
