<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>battle_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{105,837}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,837}}</string>
                <key>sourceSize</key>
                <string>{105,837}</string>
            </dict>
            <key>battle_cur_score.png</key>
            <dict>
                <key>frame</key>
                <string>{{347,2},{425,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{425,81}}</string>
                <key>sourceSize</key>
                <string>{425,81}</string>
            </dict>
            <key>battle_default_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,841},{101,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,101}}</string>
                <key>sourceSize</key>
                <string>{101,101}</string>
            </dict>
            <key>battle_eff.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,755},{194,195}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,195}}</string>
                <key>sourceSize</key>
                <string>{194,195}</string>
            </dict>
            <key>battle_item.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,2},{533,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{533,109}}</string>
                <key>sourceSize</key>
                <string>{533,109}</string>
            </dict>
            <key>battle_item_clicked.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,2},{549,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{549,125}}</string>
                <key>sourceSize</key>
                <string>{549,125}</string>
            </dict>
            <key>battle_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{389,429},{238,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{238,4}}</string>
                <key>sourceSize</key>
                <string>{238,4}</string>
            </dict>
            <key>battle_ower.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,553},{200,195}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,195}}</string>
                <key>sourceSize</key>
                <string>{200,195}</string>
            </dict>
            <key>battle_ower_score.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,429},{445,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{445,29}}</string>
                <key>sourceSize</key>
                <string>{445,29}</string>
            </dict>
            <key>battle_plane_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,876},{81,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,84}}</string>
                <key>sourceSize</key>
                <string>{81,84}</string>
            </dict>
            <key>battle_rank.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,537},{247,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{247,50}}</string>
                <key>sourceSize</key>
                <string>{247,50}</string>
            </dict>
            <key>battle_sender.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,786},{71,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,21}}</string>
                <key>sourceSize</key>
                <string>{71,21}</string>
            </dict>
            <key>battle_socre.png</key>
            <dict>
                <key>frame</key>
                <string>{{395,429},{116,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,27}}</string>
                <key>sourceSize</key>
                <string>{116,27}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>battle.png</string>
            <key>size</key>
            <string>{430,959}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c4f8f196a47e08aabbfab1fffad67b98$</string>
            <key>textureFileName</key>
            <string>battle.png</string>
        </dict>
    </dict>
</plist>
