<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>friendhelp_add.png</key>
            <dict>
                <key>frame</key>
                <string>{{267,225},{110,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,28}}</string>
                <key>sourceSize</key>
                <string>{110,28}</string>
            </dict>
            <key>friendhelp_banner.png</key>
            <dict>
                <key>frame</key>
                <string>{{267,2},{640,164}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,164}}</string>
                <key>sourceSize</key>
                <string>{640,164}</string>
            </dict>
            <key>friendhelp_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{256,263}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,263}}</string>
                <key>sourceSize</key>
                <string>{256,263}</string>
            </dict>
            <key>friendhelp_start.png</key>
            <dict>
                <key>frame</key>
                <string>{{267,168},{55,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,28}}</string>
                <key>sourceSize</key>
                <string>{55,28}</string>
            </dict>
            <key>friendhelp_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{297,168},{225,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{225,53}}</string>
                <key>sourceSize</key>
                <string>{225,53}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>friendhelp.png</string>
            <key>size</key>
            <string>{909,260}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2fa48c5498000320065fb74993048895$</string>
            <key>textureFileName</key>
            <string>friendhelp.png</string>
        </dict>
    </dict>
</plist>
